<!DOCTYPE html>

<% page_id = "#{params[:controller].gsub('/', '-')}-#{params[:action]}" %>

<html lang="en" id="<%= page_id %>">
  <head>
    <title>Mordatality</title>

    <style type="text/css">
      body {
        margin: 0;
      }
    </style>
  </head>

  <body role="document" style="overflow:hidden">
    <div id="simulation" style="overflow:hidden"></div>

    <%= javascript_include_tag :application %>
  </body>
</html>
