/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  background-color: #1a1414;
  text-align: center;
}

#logo {
  width: 100%;
}

h1 {
  text-transform: uppercase;
}

label {
  color: #e37a5a;
}

.form-field {
  margin-bottom: 20px;
}

.spinner {
  display: none;
  text-align: center;
}

.btn {
  background-color: #bf3870;
}

table.results {
  background: #00a29b;
  border-collapse: collapse;
  border: 0;

  th, td {
    text-align: center;
    color: #fff;
    font-size: 120%;
  }
}

@-webkit-keyframes blink {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}
blink {
    -webkit-animation-name: blink;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
}

#simulation {
  position: absolute;
  top: 35px;
  right: 75px;
  padding: 10px 30px;
  background-color: #bf3870;
  color: #fff;
  font-size: 15px;
}
